a{
	color: grey;
	text-decoration: none;
}

article{
	
}

aside{
	background: white;
	float: right;
	width: 270px;
	margin: auto;
	text-align: center;
	margin-top: 35px;
	border: solid 1px #dddddd;
}

body{
	background: #ebebeb;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0 0 100px; /* bottom = footer height */
}

button{
	background: #4aaaa5;
	margin: auto;
	margin-right: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	color: #ffffff;
	margin-bottom: 10px;
	border: none;
}

footer{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	clear: both;
	background: #666666;
	color: #ffffff;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	border-top: solid 10px #4aaaa5;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 16px;

}

h2{
	color: #4aaaa5;
	font-size: 22px;
	text-align: left;
	margin: auto;
	width: 460px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: solid 1px;
	border-color: #cccccc;
	margin-bottom: 20px;
	padding-left: 10px;
	margin-left: 10px;
	padding-right: 10px;

}

h3{
	color: #4aaaa5;
	font-size: 20px;
	padding-top: 30px;
	padding-bottom: 30px;

}

h1, h2, h3{
	font-family: 'Georgia', Times, Times New Roman, serif;

}

header{
	width: 960px;
	margin: auto;
	overflow: auto;
}

html{
	position: relative;
	min-height: 100%;
}

input{
	width: 30%;
}

form{
	margin-left: 30px;
	color: #777777;
}

nav{
	float: right;
}

p{
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 10px;
	line-height: 150%;

}

section{
	float: left;
	background: white;
	margin: auto;
	width: 650px;
	margin-top: 35px;
	border: solid 1px #dddddd;
}

textarea{
	width: 580px;
	height: 380px;

}

.headerspace{
	background: #ffffff;
	margin: 0 auto;
	border-bottom: solid 1px;
	border-color: #cccccc;

}

.icon{
	max-height: 60px;
	max-width: 60px;
	border-radius: 8px;
	float: left;
	text-align: center;
	margin: 5px;
}

.icon img{
	height: 100%;
	width: 100%;
}

.iconwrap{
	float: left;
	margin: auto;
	margin-top: 10px;
	padding-left: 35px;
}

.imageLinks{
	float: left;
	height: 160px;
	width: 240px;
	margin-left: 20px;
	padding-bottom: 20px;
	position: relative;
	text-align: center;
}

.imageLinks img{
	height: 100%;
	width: 100%;
}

.imageText{
	position: absolute;
	top: 60%;
	width: 100%;
	background: #4aaaa5;
	margin: auto;
	margin-right: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: #ffffff;
}
.wrapper{
	width: 960px;
	background: #ebebeb;
	margin: 0 auto;
}

#about{
	float: right;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

#contact{
	float: right;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;;
	text-align: center;
}

#logo{
	font-size: 24px;
	background-color: #4aaaa5;
	color: white;
	text-align: center;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

#portfolio{
	float: right;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

#portrait{
	width: 220px;
	height: 220px;
	float: left;
	margin: 10px;
}

#portrait img{
	height: 100%;
	width: 100%;
}


/*Media Queries for screen size of 980px*/

@media screen and (max-width: 980px) {

	h2{
		font-size: 24px;
		font-weight: bold;
	}

	h3{
		font-weight: bold;
	}
	header{
		width: 81.6%;
	}

	.wrapper{
		width: 81.6%;
	}


	section{
		width: 65.53%;
		height: 100%;
		margin-bottom: 100px;
	}

	aside{
		width: 32%;
	}

	article{
		margin-left: 20px;
	}

	p{
		color: black;
	}
	
	.iconwrap{
		padding-left: 20px;
		padding-bottom: 10px;
	}

	#portrait{
		width: 440px;
		height: 300px;
	}

	input{
		width: 90%;
		height: 30px;
	}

	textarea{
		width: 90%;
	}


}


/*Media queries for screen size of 768px */

@media screen and (max-width: 768px) {
	
	.headerspace{
		width: 100%;
	}

	aside{
		float: left;
		margin: 10px;
		margin-bottom: 80px;
		width: 97%;
		text-align: left;
	}
	h2{
		width: 94%;
	}

	h3{
		margin-left: 25px;
		border-bottom: solid 1px #eeeeee;
		width: 94%
	}

	header{
		width: 97%;
		padding: 5px 10px 5px 10px;
	}

	html{
		max-width: 768px;
	}

	section{
		width: 97%;
		margin: 10px;
		clear: both;
	}

	p{

	}
	
	.wrapper{
		width: 100%;
		margin: 0;
	}

	#portrait{
		width: 300px;
		height: auto;

	}

	.imageLinks{
		height:200px;
		width: 40%;
	}

}

/*For media queries for screens of 640px*/

@media screen and (max-width: 640px) {

	#logo{
		width: 86.8%;
		margin: 0;
	}
	header{
		width: 100%;
		padding: 0;
		padding-bottom: 15px;
	}

	#portrait{
		width: 95%;
		height: 450px;
	}

	.imageLinks{
		height:300px;
		width: 90%;
	}

	.imageText{
		top: 76%;
		padding-top: 20px;
		padding-bottom: 20px;

	}

	h1{
		font-weight: bold;
		font-size: 28px;
	}

	nav{
		float: left;
		clear: both;
		margin: auto;
		width: 600px;
		padding-top: 10px;
	}

	#about, #contact, #portfolio{
		width: 27%;

	}


}